@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #3E4851;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 35px;
}

.card { 
    background-color: #3E4851;
    width: 18%;
    height: 60%;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #252525;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}


h1 {
    font-family: "Agdasima", sans-serif;
    color: #d5d2d2;
    text-align: center;
}

h2 {
    color: #0FE0F1;
    font-size: 250%;
    text-align: center;
  }

p {
    color: #a7a5a5;
    font-size: 110%;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}




